Package: libfdk-aac-dev
Source: fdk-aac
Version: 2.0.0-1
Architecture: amd64
Maintainer: Debian Multimedia Maintainers <debian-multimedia@lists.debian.org>
Installed-Size: 247
Depends: libfdk-aac2 (= 2.0.0-1), pkg-config
Section: non-free/libdevel
Priority: optional
Multi-Arch: same
Homepage: https://github.com/mstorsjo/fdk-aac
Description: Fraunhofer FDK AAC Codec Library - development files
 The FDK AAC Codec Library For Android contains an encoder implementation
 of the Advanced Audio Coding (AAC) audio codec.
 .
 This package contains the files needed to compile and statically link
 against the Fraunhofer FDK AAC Codec Library.
