Package: libfdk-aac2
Source: fdk-aac
Version: 2.0.0-1
Architecture: amd64
Maintainer: Debian Multimedia Maintainers <debian-multimedia@lists.debian.org>
Installed-Size: 1319
Depends: libc6 (>= 2.14)
Section: non-free/libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/mstorsjo/fdk-aac
Description: Fraunhofer FDK AAC Codec Library - runtime files
 The FDK AAC Codec Library For Android contains an encoder implementation
 of the Advanced Audio Coding (AAC) audio codec.
 .
 This package contains the files needed to run a program compiled using
 The Fraunhofer FDK AAC Codec Library.
